---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre mi"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Mayo 1 2024')}
	heroImage="/blog-placeholder-about.jpg"
	logo="/Rabu.png"
>
<p>
  Soy un joven programador apasionado por aprender cosas nuevas. Me encanta desarrollar habilidades en lenguajes como HTML, CSS, JavaScript, Java y Python. Estoy en constante aprendizaje y me gusta explorar diferentes tecnologías y frameworks para desarrollar soluciones innovadoras.
</p>

<p>
  Me apasiona compartir mi conocimiento y ayudar a otros a mejorar sus habilidades. Si tienes alguna pregunta o necesitas ayuda, estaré encantado de ayudarte. Estoy dispuesto a aprender de ti y de todo el mundo de la programación.
</p>
</Layout>
