---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="rabu-titulo">🪄 Rabu developers 🪄</h1>
			<div class="textpack">
				<p>Este proyecto es un porfolio del grupo , todos los trabajos estaremos subiendo esta aqui <a class="linkblock" href="/blog">"en blog"</a></p>
				<p class="fecha-line">Fecha de creacion fue <span class="fecha"> '15 junio 2023'</span></p> 
			</div>
			
			<div class="textpack"><p>Este es un proyecto personal del fundador del grupo de programadores "Rabu developers".
				Es un espacio en donde se muestra de forma constante el trabajo realizado por cada uno de los miembros.</p>
			<p>En este sitio web se muestra de forma dinámica las publicaciones realizadas por los miembros,
				donde se puede encontrar desde artículos de programación en <a class="linkblock" href="/blog">"Blog"</a>,
				hasta proyectos de software open source en los que cada uno de los miembros tiene un rol activo.</p>
			<p>En este sitio web se muestra de forma constante la experiencia de cada uno de los miembros
				y se espera que cada uno de los miembros pueda aprender y crecer de esta experiencia.</p></div>
		</main>
		<Footer />
	</body>
	<style>
		.fecha-line {
			display: flex;
			justify-content: center;
		}
		.fecha {
			margin-left: 0.5rem;
			display: inline;
			font-weight: bold;
		}
		.textpack{
			align-items: center;
			text-align: center;
			margin: 1rem;
			padding: 1rem;
			background-color: rgba(190, 188, 247, 0.349);
			border-radius: 0.3em;
		}
		.rabu-titulo{
			text-align: center;
			font-size: 3rem;
			margin-bottom: 0.5rem;
			color: #635b6f;
		}
		.linkblock{
			text-decoration: none;
			color: #635b6f;
			font-weight: bold;
		}

		.linkblock:hover{
			color:#588858;
		}

	</style>
</html>
